<div class="dashboardMain">

   <div class="header-text">{{dashboardMain.data.collegeName}}</div>
   <div class="row">
      <div class="col">
         Classes
      </div>
   </div>
   <div class="row">
      <div class="class-box" ng-repeat="class in dashboardMain.data.classes" ng-class="{'selected' : (dashboardMain.selectedClass.name == class.name)}">
         <span ng-click="dashboardMain.selectedClass = class;dashboardMain.selectedDivision = {}">{{class.name}}</span>
      </div>
      <div class="class-box cursor-pointer add-button" ng-click="dashboardMain.openAddNewClass()">
         Add
      </div>
   </div>

   <br>

   <div ng-if="dashboardMain.selectedClass && dashboardMain.selectedClass.name">
   	<div class="row">
   	   <div class="col">
   	      Divisions
   	   </div>
   	</div>

   	<div class="row">
   	   <div class="class-box" ng-repeat="division in dashboardMain.selectedClass.divisions" ng-class="{'selected' : (dashboardMain.selectedDivision.name == division.name)}">
   	      <span ng-click="dashboardMain.selectedDivision = division">{{division.name}}</span>
   	   </div>
   	   <div class="class-box cursor-pointer add-button" ng-click="dashboardMain.openAddNewDivision()">
   	      Add
   	   </div>
   	</div>
   </div>

   <br>

   <div ng-if="dashboardMain.selectedClass && dashboardMain.selectedClass.name && dashboardMain.selectedDivision && dashboardMain.selectedDivision.name">
      <div class="row">
         <div class="col">
            <h4>{{dashboardMain.selectedClass.name}}-{{dashboardMain.selectedDivision.name}}</h4>
         </div>
      </div>

      <div class="row">
         <div class="form-group">
           <label for="userName">User Name:</label>
           <input ng-model="dashboardMain.selectedDivision.userName" type="text" class="form-control" id="userName">
         </div>
      </div>

      <div class="row">
         <div class="form-group">
           <label for="teacherName">Teacher:</label>
           <input ng-model="dashboardMain.selectedDivision.teacherName" type="text" class="form-control" id="teacherName">
         </div>
      </div>

      <div class="row">
         <div class="form-group">
           <label for="studentsCount">Students count:</label>
           <input ng-model="dashboardMain.selectedDivision.studentsCount" type="number" class="form-control" id="studentsCount">
         </div>
      </div>

      <div class="row">
         <div class="form-group">
            <label for="password">Password:</label>
            <input ng-model="dashboardMain.selectedDivision.password" type="password" class="form-control" id="password">
         </div>
      </div>

   </div>

</div>

<!-- Add new class popup model -->
<div class="modal fade" id="addNewClassModal" role="dialog">
   <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
         </div>
         <div class="modal-body">
            <div class="form-group">
               <label for="classModel">Class Name :</label>
               <input type="text" ng-model="dashboardMain.newClass.name" class="form-control" id="classModel" autofocus />
            </div>
            <button type="button" ng-click="dashboardMain.addNewClass()" class="btn btn-success">Add</button>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>


<!-- Add new division popup model -->
<div class="modal fade" id="addNewDivisionModal" role="dialog">
   <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
         </div>
         <div class="modal-body">
            <div class="form-group">
               <label for="divisionModel">Division Name :</label>
               <input type="text" ng-model="dashboardMain.newDivision.name" class="form-control" id="divisionModel" autofocus />
            </div>
            <button type="button" ng-click="dashboardMain.addNewDivision()" class="btn btn-success">Add</button>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>

<style type="text/css">

   .class-box {
   min-width: 100px;
   background: rgba(49, 212, 114, 0.26);
   line-height: 100px;
   text-align: center;
   min-height: 100px;
   display: inline-grid;
   margin-right: 5px;
   margin-top: 7px;
   }
   .class-box.selected  {
   background-color: rgba(90, 210, 200, 0.67);
   border: 1px solid rgb(90, 210, 200);
   }

   .class-box:hover {
      background-color: rgba(90, 210, 200, 0.47);
      border: 1px solid rgb(90, 210, 200);
   }


   .class-box.add-button {
      border-radius: 70px;
      min-height: 70px;
      min-width: 70px;
      line-height: 70px;
      background-color: rgba(69, 113, 197, 0.26);
   }

</style>