<div class="dashboardSub">
	<div class="header-text">{{dashboardSub.data.userName}}</div>

	<div class="row">
		<div class="form-group">
		  <label for="className">Class Name :</label>
		  <input ng-model="dashboardSub.data.userName" type="text" class="form-control" id="className">
		</div>
	</div>

	<div class="row">
		<div class="form-group">
		  <label for="teacherName">Teacher :</label>
		  <input ng-model="dashboardSub.data.teacherName" type="text" class="form-control" id="teacherName">
		</div>
	</div>

	<div class="row">
		<div class="form-group">
		  <label for="studentsCount">Class Strength :</label>
		  <input ng-model="dashboardSub.data.studentsCount" type="number" class="form-control" id="studentsCount" readonly>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-4 col-md-4">
			Completed : <span class="count-value">  0  </span>
		</div>
		<div class="col-sm-4 col-md-4">
			Partial : <span class="count-value">  0  </span>
		</div>
		<div class="col-sm-4 col-md-4">
			Pending : <span class="count-value">  0  </span>
		</div>
	</div>

	<div class="row">
		<div ng-click="dashboardSub.userSelected($index)" class="user-box" ng-repeat="user in dashboardSub.users track by $index" ng-class="{'selected' : (dashboardSub.selectedIndex == $index) , 'completed' : (dashboardSub.checkUserFieldEnteredCompletely(user)) }">
			<span>{{$index + 1}}</span>
		</div>
	</div>

	<div class="row preview-button-section">
		<div>
			<button ng-click="dashboardSub.goToPreviewIDCardsForPritingPage()" class="btn btn-success">Preview id cards</button>
		</div>
	</div>


	<div class="row user-edit-main-section">

		<div class="row side-selector-div">
			<center><span class="side-selector">Side 1</span> <span class="side-selector">Side 2</span></center>
		</div>

		<div class="col-sm-6 col-md-6" ng-init="showEnterStudentDetails = true;">


			<div class="row" ng-show="showUploadImage">
				<center><button ng-click="showEnterStudentDetails = true;showUploadImage = false;">Enter student details</button></center>
				<div class="col-md-12 col-sm-12" >
					<div>Select an image file: <input type="file" id="fileInput" /></div>
					  <div class="cropArea">
					    <img-crop image="myImage" result-image="myCroppedImage"></img-crop>
					  </div>
				</div>
			</div>

			<div class="row" ng-show="showEnterStudentDetails" height="200px";>
				<center><button ng-click="showUploadImage = true;showEnterStudentDetails = false;">Upload Image</button></center>
				<div class="col-md-12 col-sm-12 input-group">
					<span class="input-group-addon">Name</span>
					<input id="name" type="text" ng-model="dashboardSub.users[dashboardSub.selectedIndex].studentName" class="form-control" name="name" placeholder="Name">
				</div>

				<div class="col-md-12 col-sm-12 input-group">
					<span class="input-group-addon">Emergency Phone</span>
					<input id="emergencyNumber" type="text" ng-model="dashboardSub.users[dashboardSub.selectedIndex].emergencyNumber" class="form-control" name="emergencyNumber" placeholder="Emergency Phone">
				</div>

				<div class="col-md-12 col-sm-12 input-group">
					<span class="input-group-addon">Date of Birth</span>
					<input id="studentDob" ng-model="dashboardSub.users[dashboardSub.selectedIndex].studentDob" type="text" class="form-control" name="studentDob" placeholder="Date of Birth">
				</div>

				<div class="col-md-12 col-sm-12 input-group">
					<span class="input-group-addon">Valid until</span>
					<input id="validUntilDate" ng-model="dashboardSub.users[dashboardSub.selectedIndex].validUntilDate" type="text" class="form-control" name="validUntilDate" placeholder="Valid until">
				</div>

			</div>

		</div>
		<div class="col-sm-6 col-md-6">
			<div class="id-box">
				<img class="id-sample-image" src="images/id-card-sample.png">
				<div class="parent-content">
					<div class="institute-name-content"> Texas institute
					</div>
					<div class="name-content"> {{dashboardSub.users[dashboardSub.selectedIndex].studentName}}
					</div>
					<div class="dob-content"> {{dashboardSub.users[dashboardSub.selectedIndex].studentDob}}
					</div>
					<div class="valid-until-content"> {{dashboardSub.users[dashboardSub.selectedIndex].validUntilDate}}
					</div>

					<div class="contact-number-content"> {{dashboardSub.users[dashboardSub.selectedIndex].emergencyNumber}}
					</div>

				</div>

				<img class="my-uploaded-image" ng-src="{{myCroppedImage}}" />
			</div>
		</div>
	</div>

	
<br><br><br>
</div>




<style type="text/css">

.parent-content {
	position: absolute;
	top: 50px;
	left: 150px;
	font-weight: bold;
}

.my-uploaded-image {
	position: absolute;
    left: 18px;
    height: 106px;
    top: 55px;
    z-index: -1;
}

.name-content {
	margin-top: 5px;
}

.contact-number-content {
	margin-top: 27px;
	color: white;
	padding-left: 31px;
}

.dob-content {
	margin-top: 5px;
}

.valid-until-content {
	margin-top: 8px;
}

.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width:100%;
  height:300px;
}

.preview-button-section {
	margin-top: 15px;
}

   .user-box {
   min-width: 50px;
   background: rgba(49, 212, 114, 0.26);
   line-height: 50px;
   text-align: center;
   min-height: 50px;
   display: inline-grid;
   margin-right: 5px;
   margin-top: 7px;
   }
   .user-box.selected  {
   background-color: rgba(90, 210, 200, 0.67);
   border: 1px solid rgb(90, 210, 200);
   }

   .user-box.completed {
   	background-color: rgba(47, 239, 47, 0.72) !important;
   }

   .user-box:hover {
      background-color: rgba(90, 210, 200, 0.47);
      border: 1px solid rgb(90, 210, 200);
   }

   .user-edit-main-section {
   	/*background-color: rgba(132, 232, 125, 0.47);*/
   	margin-top: 15px;
   	border: 1px solid rgba(128, 128, 128, 0.12);
   }

   .side-selector {
   	background-color: rgba(19, 19, 82, 0.89);
   	color: white;
   	padding-left: 5px;
   	padding-right: 5px;
   	cursor: pointer;
   }

   .side-selector-div {
   	margin-bottom: 10px;
   	margin-top: 10px;
   }

   .id-box {
   	/*border: 1px solid black;*/
   	position: relative;
   }

   .id-sample-image {
   	width: 300px;
   	height: 200px
   }

</style>